In [39]:
#Load dependencies and define data files to import
from datetime import datetime as dt, timedelta
import datetime
import pandas as pd
import numpy as np

In [40]:

weather_data = pd.read_excel("../Clean Data Files/Weather_KIAHstation_2017-2020.xls")
weather_data

,mont,dt,tempMax,tempAvg,tempMin,dewMax,dewAvg,dewMin,humMax,humAvg,...,windAvg,windMin,presMax,presAvg,presMin,precTotal,StationCode,StationName,Year,Month
0,Jan,1,74,67.5,64,66,63.8,62,97,88.1,...,2.7,0,29.8,29.7,29.7,0.30,KIAH,houston,2017,1
1,Jan,2,74,66.9,53,70,62.2,51,97,86.1,...,8.3,0,29.8,29.7,29.6,0.07,KIAH,houston,2017,1
2,Jan,3,75,61.9,49,52,46.3,40,93,61.1,...,8.6,0,30.0,29.9,29.8,1.22,KIAH,houston,2017,1
3,Jan,4,52,46.5,42,42,38.7,35,93,74.7,...,8.1,0,30.1,30.0,29.9,0.00,KIAH,houston,2017,1
4,Jan,5,56,50.4,44,51,45.8,38,90,84.1,...,7.0,0,29.9,29.8,29.8,0.00,KIAH,houston,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175,Mar,21,61,57.5,54,58,53.9,50,93,87.8,...,10.8,5,30.2,30.1,30.1,1.04,KIAH,houston,2020,3
1176,Mar,22,77,67.5,58,70,63.1,57,97,86.2,...,7.8,5,30.1,30.0,29.9,0.36,KIAH,houston,2020,3
1177,Mar,23,84,74.7,70,70,67.7,66,93,79.6,...,7.4,0,30.0,29.9,29.8,0.01,KIAH,houston,2020,3
1178,Mar,24,87,77.3,72,69,67.7,64,87,73.7,...,8.0,0,29.9,29.8,29.7,0.00,KIAH,houston,2020,3
1179,Mar,25,89,77.5,72,71,67.3,60,91,73.5,...,6.4,0,29.8,29.8,29.7,0.00,KIAH,houston,2020,3

In [41]:
weather_data['date_field_str'] =  weather_data["Year"].astype(str) + '-' + weather_data["Month"].astype(str) + '-' + weather_data["dt"].astype(str)
weather_data['date_field'] = weather_data['date_field_str'].apply(pd.to_datetime,errors='coerce')
weather_data['date_field_str'] = weather_data['date_field'].dt.strftime('%Y%m%d')
weather_data['date_field'] = weather_data['date_field'].dt.date

weather_data

,mont,dt,tempMax,tempAvg,tempMin,dewMax,dewAvg,dewMin,humMax,humAvg,...,presMax,presAvg,presMin,precTotal,StationCode,StationName,Year,Month,date_field_str,date_field
0,Jan,1,74,67.5,64,66,63.8,62,97,88.1,...,29.8,29.7,29.7,0.30,KIAH,houston,2017,1,20170101,2017-01-01
1,Jan,2,74,66.9,53,70,62.2,51,97,86.1,...,29.8,29.7,29.6,0.07,KIAH,houston,2017,1,20170102,2017-01-02
2,Jan,3,75,61.9,49,52,46.3,40,93,61.1,...,30.0,29.9,29.8,1.22,KIAH,houston,2017,1,20170103,2017-01-03
3,Jan,4,52,46.5,42,42,38.7,35,93,74.7,...,30.1,30.0,29.9,0.00,KIAH,houston,2017,1,20170104,2017-01-04
4,Jan,5,56,50.4,44,51,45.8,38,90,84.1,...,29.9,29.8,29.8,0.00,KIAH,houston,2017,1,20170105,2017-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175,Mar,21,61,57.5,54,58,53.9,50,93,87.8,...,30.2,30.1,30.1,1.04,KIAH,houston,2020,3,20200321,2020-03-21
1176,Mar,22,77,67.5,58,70,63.1,57,97,86.2,...,30.1,30.0,29.9,0.36,KIAH,houston,2020,3,20200322,2020-03-22
1177,Mar,23,84,74.7,70,70,67.7,66,93,79.6,...,30.0,29.9,29.8,0.01,KIAH,houston,2020,3,20200323,2020-03-23
1178,Mar,24,87,77.3,72,69,67.7,64,87,73.7,...,29.9,29.8,29.7,0.00,KIAH,houston,2020,3,20200324,2020-03-24
1179,Mar,25,89,77.5,72,71,67.3,60,91,73.5,...,29.8,29.8,29.7,0.00,KIAH,houston,2020,3,20200325,2020-03-25

In [42]:
weather_data_selected = weather_data[['date_field', 'tempMax', 'tempAvg', 'tempMin', 'precTotal']]
weather_data_selected = weather_data_selected.rename(columns={"precTotal": "precipitation"})
weather_data_selected

      date_field  tempMax  tempAvg  tempMin  precipitation
0     2017-01-01       74     67.5       64           0.30
1     2017-01-02       74     66.9       53           0.07
2     2017-01-03       75     61.9       49           1.22
3     2017-01-04       52     46.5       42           0.00
4     2017-01-05       56     50.4       44           0.00
...          ...      ...      ...      ...            ...
1175  2020-03-21       61     57.5       54           1.04
1176  2020-03-22       77     67.5       58           0.36
1177  2020-03-23       84     74.7       70           0.01
1178  2020-03-24       87     77.3       72           0.00
1179  2020-03-25       89     77.5       72           0.00

[1180 rows x 5 columns]

In [43]:
weather_data_selected.to_csv("../static/data/Final_selected_weather_data.csv")

# lets have the data ready for visualization

In [44]:
weather_data = pd.read_csv("../../WeatherUnderground_KIAH_3yrs.csv")
weather_data

,mont,dt,tempMax,tempAvg,tempMin,dewMax,dewAvg,dewMin,humMax,humAvg,...,windMin,presMax,presAvg,presMin,precTotal,mon,StationCode,StationName,Year,Month
0,Jan,1,74,67.5,64,66,63.8,62,97,88.1,...,0,29.8,29.7,29.7,0.30,NaN,KIAH,houston,2017,1
1,Jan,2,74,66.9,53,70,62.2,51,97,86.1,...,0,29.8,29.7,29.6,0.07,NaN,KIAH,houston,2017,1
2,Jan,3,75,61.9,49,52,46.3,40,93,61.1,...,0,30.0,29.9,29.8,1.22,NaN,KIAH,houston,2017,1
3,Jan,4,52,46.5,42,42,38.7,35,93,74.7,...,0,30.1,30.0,29.9,0.00,NaN,KIAH,houston,2017,1
4,Jan,5,56,50.4,44,51,45.8,38,90,84.1,...,0,29.9,29.8,29.8,0.00,NaN,KIAH,houston,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1179,Mar,25,89,76.8,72,71,67.5,60,91,75.4,...,0,29.8,29.8,29.7,0.00,NaN,KIAH,houston,2020,3
1180,Mar,26,87,74.7,68,69,67.2,66,93,78.7,...,0,29.8,29.8,29.7,0.00,NaN,KIAH,houston,2020,3
1181,Mar,27,89,78.1,68,70,67.0,61,93,71.1,...,0,29.7,29.7,29.6,0.00,NaN,KIAH,houston,2020,3
1182,Mar,28,80,72.6,60,70,63.8,48,85,74.3,...,0,29.9,29.7,29.6,0.00,NaN,KIAH,houston,2020,3
1183,Mar,29,80,67.3,55,54,49.2,42,93,59.1,...,0,30.0,30.0,29.9,0.04,NaN,KIAH,houston,2020,3

In [45]:
weather_data['date_field_str'] =  weather_data["Year"].astype(str) + '-' + weather_data["Month"].astype(str) + '-' + weather_data["dt"].astype(str)
weather_data['date_field'] = weather_data['date_field_str'].apply(pd.to_datetime,errors='coerce')
weather_data['date_month'] = weather_data['date_field'].dt.strftime('%b')
weather_data['date_field_str'] = weather_data['date_field'].dt.strftime('%Y%m%d')
weather_data['yr'] = weather_data['date_field'].dt.strftime('%Y')
weather_data['date_field'] = weather_data['date_field'].dt.date
weather_data

,mont,dt,tempMax,tempAvg,tempMin,dewMax,dewAvg,dewMin,humMax,humAvg,...,precTotal,mon,StationCode,StationName,Year,Month,date_field_str,date_field,date_month,yr
0,Jan,1,74,67.5,64,66,63.8,62,97,88.1,...,0.30,NaN,KIAH,houston,2017,1,20170101,2017-01-01,Jan,2017
1,Jan,2,74,66.9,53,70,62.2,51,97,86.1,...,0.07,NaN,KIAH,houston,2017,1,20170102,2017-01-02,Jan,2017
2,Jan,3,75,61.9,49,52,46.3,40,93,61.1,...,1.22,NaN,KIAH,houston,2017,1,20170103,2017-01-03,Jan,2017
3,Jan,4,52,46.5,42,42,38.7,35,93,74.7,...,0.00,NaN,KIAH,houston,2017,1,20170104,2017-01-04,Jan,2017
4,Jan,5,56,50.4,44,51,45.8,38,90,84.1,...,0.00,NaN,KIAH,houston,2017,1,20170105,2017-01-05,Jan,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1179,Mar,25,89,76.8,72,71,67.5,60,91,75.4,...,0.00,NaN,KIAH,houston,2020,3,20200325,2020-03-25,Mar,2020
1180,Mar,26,87,74.7,68,69,67.2,66,93,78.7,...,0.00,NaN,KIAH,houston,2020,3,20200326,2020-03-26,Mar,2020
1181,Mar,27,89,78.1,68,70,67.0,61,93,71.1,...,0.00,NaN,KIAH,houston,2020,3,20200327,2020-03-27,Mar,2020
1182,Mar,28,80,72.6,60,70,63.8,48,85,74.3,...,0.00,NaN,KIAH,houston,2020,3,20200328,2020-03-28,Mar,2020
1183,Mar,29,80,67.3,55,54,49.2,42,93,59.1,...,0.04,NaN,KIAH,houston,2020,3,20200329,2020-03-29,Mar,2020

In [46]:
weather_data_selected = weather_data[['date_field', 'date_month', 'date_field_str', 'yr', 'tempMax', 'tempAvg', 'tempMin','dewMax', 'dewAvg', 'dewMin','humMax', 'humAvg', 'humMin','presMax', 'presAvg', 'presMin', 'precTotal']]
weather_data_selected = weather_data_selected.rename(columns={"precTotal": "precipitation"})
weather_data_selected

,date_field,date_month,date_field_str,yr,tempMax,tempAvg,tempMin,dewMax,dewAvg,dewMin,humMax,humAvg,humMin,presMax,presAvg,presMin,precipitation
0,2017-01-01,Jan,20170101,2017,74,67.5,64,66,63.8,62,97,88.1,73,29.8,29.7,29.7,0.30
1,2017-01-02,Jan,20170102,2017,74,66.9,53,70,62.2,51,97,86.1,46,29.8,29.7,29.6,0.07
2,2017-01-03,Jan,20170103,2017,75,61.9,49,52,46.3,40,93,61.1,30,30.0,29.9,29.8,1.22
3,2017-01-04,Jan,20170104,2017,52,46.5,42,42,38.7,35,93,74.7,63,30.1,30.0,29.9,0.00
4,2017-01-05,Jan,20170105,2017,56,50.4,44,51,45.8,38,90,84.1,77,29.9,29.8,29.8,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1179,2020-03-25,Mar,20200325,2020,89,76.8,72,71,67.5,60,91,75.4,38,29.8,29.8,29.7,0.00
1180,2020-03-26,Mar,20200326,2020,87,74.7,68,69,67.2,66,93,78.7,49,29.8,29.8,29.7,0.00
1181,2020-03-27,Mar,20200327,2020,89,78.1,68,70,67.0,61,93,71.1,42,29.7,29.7,29.6,0.00
1182,2020-03-28,Mar,20200328,2020,80,72.6,60,70,63.8,48,85,74.3,54,29.9,29.7,29.6,0.00
1183,2020-03-29,Mar,20200329,2020,80,67.3,55,54,49.2,42,93,59.1,27,30.0,30.0,29.9,0.04

In [47]:
weather_data_selected.to_csv("../static/data/selected_weather_data_for_visual.csv", index=False)

In [48]:
weathAgg = weather_data_selected.groupby(['date_month']).agg(
    prec=('precipitation', 'sum'),
    avg_max=('tempMax', 'mean'))

In [49]:
weathAgg

             prec    avg_max
date_month
Apr          6.94  79.355556
Aug         43.80  93.645161
Dec         12.53  65.215054
Feb         11.46  69.982301
Jan         17.26  64.508065
Jul         13.56  93.827957
Jun         20.93  91.022222
Mar         11.50  76.000000
May         13.14  86.752688
Nov          4.99  71.444444
Oct         13.72  81.182796
Sep         24.76  89.300000